.global-8 {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.flex-row {
  width: 180%;
  margin-right: 40%;
  height: 100vh;
  margin-top: 5%;
}
.flex-half {
  align-self: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  display: grid;
}
