@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.global {
  font-family: "Nunito Sans", sans-serif;
  width: 100vw;
  padding: 0px;
}
.sidenav {
  font-family: "Nunito Sans", sans-serif;
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
  color: white;
  width: 18%;
  left: 0px;
  height: 100%;
  background-color: #20282c;
  position: fixed;
  animation-name: example;
  animation-duration: 1.5s;
}

.sidenav a {
  display: flex;
  height: 70px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  line-height: 40px;
  padding-top: 5px;
}
.sidenav a:hover:not(.active) {
  background-color: #b7fbf3;
  color: black;
}
.rest {
  padding-top: 12px;
}
@keyframes example {
  0% {
    left: -100%;
    top: 0px;
  }
  100% {
    left: 0%;
    top: 0px;
  }
}
