.flex-large {
  width: 350px;
}
table,
td,
th {
  color: white;
  border: 1px solid #606060;
  padding: 1em;
  background-color: rgb(135, 197, 252);
  border-bottom: 2px solid black;
}
th {
  background-color: #3b5998;
}
table {
  width: 60%;
  border-collapse: collapse;
  border-radius: 0.4em;
  overflow: hidden;
}
.tbody1 {
  margin-right: 10%;
}
